<div class="timeline-content">
    <div ng-repeat="layer in timelinesCtrl.list | orderBy:'zIndex'"
         data-id="{{layer._id}}" draggable="true"
         drag-and-drop-timelines
         ng-click="timelinesCtrl.setSelected(layer)"
         ng-class="{ active: timelinesCtrl.isSelected(layer) }"
         class="layer-details" >
        <div class="protect-input"></div>
        <span class="name">{{layer.name}}</span>

        <span ng-click="timelinesCtrl.toggleShow($event, layer)" title="Toggle visible to hide in visual view" class="group pull-right">
            <i ng-show="layer.show" class="fa fa-eye"></i>
            <i ng-hide="layer.show" class="fa fa-eye-slash"></i>
        </span>

        <span ng-click="timelinesCtrl.toggleLock($event, layer)" title="Toggle lock to disable interactions" class="group pull-right">
            <i ng-hide="layer.lock" class="fa fa-lock"></i>
            <i ng-show="layer.lock" class="fa fa-unlock-alt"></i>
        </span>

        <span title="Set axis of rotation" class="group pull-right">
            <i class="fa fa-crosshairs"></i>
        </span>

        <span ng-click="timelinesCtrl.showImage(layer)" title="View attached sprite details" class="group pull-right">
            <i class="fa fa-picture-o"></i>
        </span>

        <span ng-click="timelinesCtrl.setName($event, layer)" title="Change layer name" class="group pull-right">
            <i class="fa fa-edit"></i>
        </span>
    </div>
</div>