<div class="container">
    <div id="animation-manager" class="panel panel-default">
        <div class="panel-heading">
            <animation-group-header></animation-group-header>
        </div>

        <animation-group-manager></animation-group-manager>

        <div ng-show="animGroup.showSettings" id="animation-settings" class="panel-body">
            <!-- @TODO Hide if no animation is currently set -->
            <animation-settings></animation-settings>

            <animation-list></animation-list>

            <animation-group-sprites></animation-group-sprites>
        </div>
    </div>

    <img data-x="0" data-y="0" src="//placehold.it/200" class="animation-sprite-sheet" />
</div>