<div class="container">
    <div id="animation-manager" class="panel panel-default">
        <div class="panel-heading">
            <animation-group-header></animation-group-header>
        </div>

        <animation-group-manager></animation-group-manager>

        <div id="animation-group-settings" class="panel-body hide">
            <!-- @TODO Hide if no animation is currently set -->
            <div>
                <h4>Current Animation Properties</h4>
                <form>
                    <div class="form-group">
                        <label for="animation-name">Name</label>
                        <input id="animation-name" class="form-control input-sm" type="text" value="Jump" />
                    </div>
                    <div class="form-group">
                        <label for="animation-frame-duration">Frame Duration (seconds)</label>
                        <input id="animation-frame-duration" class="form-control input-sm" type="number" value="3" min="1" />
                    </div>
                </form>
            </div>

            <h4>Animations <button class="btn btn-primary btn-xs"><span class="fa fa-plus-circle"></span></button></h4>
            <p>Available animations associated with this group.</p>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Sprite Sheets</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Jump</td>
                    <td>3s</td>
                    <td>1</td>
                    <td>
                        <button class="btn-default btn btn-xs pull-right"><i class="fa fa-pencil"></i></button>
                    </td>
                    <td>
                        <button class="btn-danger btn btn-xs pull-right"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Jump</td>
                    <td>3s</td>
                    <td>1</td>
                    <td>
                        <button class="btn-default btn btn-xs pull-right"><i class="fa fa-pencil"></i></button>
                    </td>
                    <td>
                        <button class="btn-danger btn btn-xs pull-right"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Jump</td>
                    <td>3s</td>
                    <td>1</td>
                    <td>
                        <button class="btn-default btn btn-xs pull-right"><i class="fa fa-pencil"></i></button>
                    </td>
                    <td>
                        <button class="btn-danger btn btn-xs pull-right"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </table>

            <h4>Sprite Sheets</h4>
            <p>Animation groups track all used <em>animation sheets</em> to make loading them easier in an application.</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="//placehold.it/200" style="max-height: 20px;" />
                    My Sprite Sheet Name
                </li>
            </ul>
        </div>
    </div>

    <img data-x="0" data-y="0" src="//placehold.it/200" class="animation-sprite-sheet" />
</div>