<div id="timeline">
    <div class="resize-timeline"></div>

    <div class="clearfix">
        <div class="sidebar">
            <div class="timeline-header">
                <span title="Add a new sprite sheet" class="fa fa-play"></span>
                <span title="Add a new sprite sheet" class="fa fa-pause"></span>
                <span title="Add a new sprite sheet" class="fa fa-stop"></span>
                <span title="Add a new sprite sheet" class="fa fa-fast-backward"></span>

                <span title="Export animation" class="fa fa-download pull-right"></span>
            </div>

            <timeline-layers></timeline-layers>
        </div>

        <div class="main">
            <div class="timeline-guide">
                <span class="box"></span>
                <span class="tail"></span>
            </div>

            <div class="timeline-header">
                <span class="tick-number start">0</span>
                <span class="tick-number" ng-repeat="n in [] | range:100">{{($index * 5) + 5}}</span>
                <div class="tick-contain">
                    <span class="tick" ng-repeat="n in [] | range:500"></span>
                </div>
            </div>

            <div class="timeline-content">
                <frames></frames>
            </div>
        </div>
    </div>

    <timeline-toolbar id="timeline-toolbar"></timeline-toolbar>
</div>