<div id="timeline">
    <div class="resize-timeline"></div>

    <div class="clearfix">
        <div class="sidebar">
            <div class="timeline-header">
                <scrub-playback></scrub-playback>

                <span export-animation title="Export animation" class="fa fa-download pull-right"></span>
            </div>

            <timeline-layers></timeline-layers>
        </div>

        <div class="main">
            <scrub ng-style="scrubCtrl.getPos()"></scrub>
            <scrub-list scrub-drop-zone ng-click="scrubCtrl.setIndex($event)" class="timeline-header"></scrub-list>
            <scrub-duration ng-style="scrubCtrl.getDurationWidth()"></scrub-duration>

            <div class="timeline-content">
                <frames></frames>
            </div>
        </div>
    </div>

    <timeline-toolbar id="timeline-toolbar"></timeline-toolbar>
</div>