<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-class="{ active: header.isActive('/') }" class="navbar-brand" href="#">Sprite Animator</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="zoom" ng-controller="SpriteZoom as zoom">
                    <span ng-class="scaleValue" id="scale-value">{{zoom.scale}}</span>
                    <input ng-mousedown="scaleValue='active'" ng-blur="scaleValue=''" ng-model="zoom.scale" ng-change="zoom.setScale()" type="range" id="scale-range" min="1" max="4">
                </li>
                <li ng-class="{ active: header.isActive('/') }"><a ng-href="#">Animations</a></li>
                <li ng-class="{ active: header.isActive('/sprites') }"><a ng-href="#/sprites">Sprite Sheets</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- @TODO Add an about page -->